body {
  background-color: #fdf9ec;
  color: black;
}
header {
  background: linear-gradient(to top, #aab396, #f7eed3);
  border-bottom: 1px solid gray;
}
#statistics {
  background-color: #fffbef;
  border: 1px solid gray;
}
footer {
  background: linear-gradient(to bottom, #aab396, #f7eed3);
  border-top: 1px solid gray;
}
#main {
  background-color: #f7eed3;
}
#text-field {
  background-color: #fffbef;
  border: 1px solid gray;
}
.current-word {
  background-color: #cdcccc;
}
.correct {
  background-color: #9cc49c;
}
.incorrect {
  background-color: #c87979;
}
.current {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  animation: color-change 2s ease-in-out infinite;
}
@keyframes color-change {
  0% {
    background-color: #9c9c9c;
  }
  50% {
    background-color: #c4c4c4;
  }
  100% {
    background-color: #9c9c9c;
  }
}
button {
  background-color: #674636;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #543c2e;
}
button:active {
  background-color: #3e2d22;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
