body {
  font-family: "Courier", monospace;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  height: auto;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
  min-height: 60px;
}
button {
  font-family: "Courier", monospace;
  max-height: 50px;
}
#toggles {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.toggle {
  margin: 10px;
}
#headline {
  justify-self: center;
  align-self: center;
  margin-right: 10px;
  margin-left: 10px;
}
#main {
  /* display: flex; */
  flex-direction: column;
  min-height: 95vh;
  /* grid-template-columns: 1fr;
  grid-template-rows: auto auto auto; */
}
.main-item {
  margin: 5px;
  margin-left: 20vw;
  margin-right: 20vw;
}
#timer {
  font-size: 30px;
}
#text-field {
  width: auto;
  min-height: 540px;
  min-width: 700px;
  font-size: 25px;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 30px;
}
#statistics {
  display: none;
  min-height: 500px;
  border-radius: 1rem;
  max-height: 87vh;
  margin-bottom: 15px;
}
.statistics-item {
  margin: 5px;
}
#results {
  display: none;
  font-size: 20px;
}
#wpm-statistics,
#accuracy-statistics {
  max-height: 35vh;
  max-width: 100%;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.334);
}
#reset {
  margin: 15px;
  max-width: 100px;
  max-height: 50px;
  justify-self: end;
}
#toggles {
  justify-content: center;
  align-content: center;
}
#toggles img {
  max-width: 15px;
  max-height: 15px;
}
#hidden-input {
  opacity: 0;
  position: absolute;
  left: -9999px;
}
@media (width < 776px) {
  body {
    grid-template-rows: 160px auto 90px;
  }
  .main-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  #text-field {
    min-width: 360px;
  }
  #toggles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .toggle {
    margin: 5px;
    min-width: 100px;
  }
  #lineBreak-toggle {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #reset {
    width: auto;
    max-width: 96%;
  }
}
@media (min-width: 1980px) {
  body {
    grid-template-rows: auto auto auto;
  }
  .main-item {
    margin: 10px;
    margin-left: 25vw;
    margin-right: 25vw;
  }
  #text-field {
    font-size: 40px;
    min-height: 800px;
  }
  #statistics {
    margin-bottom: 30px;
  }
  #realtime-info {
    font-size: 30px;
  }
  #timer {
    font-size: 40px;
  }
  #results {
    font-size: 40px;
  }
  /* .header-item {
    margin-left: 10vw;
    margin-right: 10vw;
  } */
}
